---
# Overview

In [20]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
import sys
import re

In [21]:
# Get the current working directory of the notebook
current_dir = os.getcwd()
# Assuming the notebook is in 'notebooks/' and project root is one level up
project_root = os.path.dirname(current_dir)
# Add the project root to the Python path
if project_root not in sys.path:
    sys.path.append(project_root)

# Import functions from your utils module
from utils.preprocess import load_and_concat_raw_data, preprocess_dataframe

In [22]:
# --- START: Modified data_raw_path setup ---
# Define the path to your raw data relative to the project root
# This ensures it always points to 'car-price-predictor/data/raw/'
data_raw_folder_path = os.path.join(project_root, 'data', 'raw')
# --- END: Modified data_raw_path setup ---

In [23]:
# Load raw data
# Pass the correctly constructed path to the function
raw_df = load_and_concat_raw_data(data_raw_path=data_raw_folder_path)

if raw_df.empty:
    print("Raw DataFrame is empty. Cannot proceed with preprocessing.")
else:
    print(f"Shape before preprocessing: {raw_df.shape}")
    print(f"Null values in raw_df:\n{raw_df.isnull().sum()}")

    # Preprocess and save the data
    # No need to pass output_cleaned_dir here as it's handled internally in preprocess_dataframe relative to its own location
    df = preprocess_dataframe(raw_df.copy()) 

    print(f"Final DataFrame shape after preprocessing: {df.shape}")
    print("\n--- Final Info After Preprocessing ---")
    df.info()
    print("\n--- Final Missing Values After Preprocessing ---")
    print(df.isnull().sum())

Shape before preprocessing: (574, 15)
Null values in raw_df:
full_title        0
brand             0
model             0
year              0
trim_version      0
price             0
location          1
mileage           0
fuel_type         0
gearbox           0
body_condition    0
body_color        0
interior_color    0
ad_url            0
scrape_date       0
dtype: int64
Shape before preprocessing: (574, 15)
Shape after deduplication: (533, 15)
Shape after price cleaning: (397, 15)
Shape after mileage cleaning: (395, 15)
Shape after year/car_age cleaning: (318, 16)

Cleaned data saved to: c:\Users\fatii\OneDrive\Desktop\car-price-predictor\data/cleaned/bama_cleaned_data_20250703_225834.csv
Final DataFrame shape after preprocessing: (318, 15)

--- Final Info After Preprocessing ---
<class 'pandas.core.frame.DataFrame'>
Index: 318 entries, 501 to 506
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   brand           318 non-null    object
 1   model           318 non-null    object
 2   year            318 non-null    int64
 3   trim_version    318 non-null    object
 4   price           318 non-null    float64
 5   location        318 non-null    object
 6   mileage         318 non-null    int64
 7   fuel_type       318 non-null    object
 8   gearbox         318 non-null    object
 9   body_condition  318 non-null    object
 10  body_color      318 non-null    object
 11  interior_color  318 non-null    object
 12  ad_url          318 non-null    object
 13  scrape_date     318 non-null    object
 14  car_age         318 non-null    int64
dtypes: float64(1), int64(3), object(11)
memory usage: 39.8+ KB

--- Final Missing Values After Preprocessing ---
brand             0
model             0
year              0
trim_version      0
price             0
location          0
mileage           0
fuel_type         0
gearbox           0
body_condition    0
body_color        0
interior_color    0
ad_url            0
scrape_date       0
car_age           0
dtype: int64

---
# **Overview of the Dataset**

In [34]:
df.shape

(318, 15)

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 318 entries, 501 to 506
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   brand           318 non-null    object
 1   model           318 non-null    object
 2   year            318 non-null    int64
 3   trim_version    318 non-null    object
 4   price           318 non-null    float64
 5   location        318 non-null    object
 6   mileage         318 non-null    int64
 7   fuel_type       318 non-null    object
 8   gearbox         318 non-null    object
 9   body_condition  318 non-null    object
 10  body_color      318 non-null    object
 11  interior_color  318 non-null    object
 12  ad_url          318 non-null    object
 13  scrape_date     318 non-null    object
 14  car_age         318 non-null    int64
dtypes: float64(1), int64(3), object(11)
memory usage: 39.8+ KB

In [36]:
df.isnull().sum()

brand             0
model             0
year              0
trim_version      0
price             0
location          0
mileage           0
fuel_type         0
gearbox           0
body_condition    0
body_color        0
interior_color    0
ad_url            0
scrape_date       0
car_age           0
dtype: int64

In [24]:
df.head()

,brand,model,year,trim_version,price,location,mileage,fuel_type,gearbox,body_condition,body_color,interior_color,ad_url,scrape_date,car_age
501,کی,ام سی، T9,1404,2لیترتوربو,2.750000e+09,تهران/17شهریور,0,بنزینی,اتوماتیک,بدون رنگ,مشکی,داخل مشکی,https://bama.ir/car/detail-ivr1bewx-kmc-t9-2li...,2025-06-08 18:58:37.966920,0
500,زامیاد,وانت نیسان,1404,دوگانهسوز,4.310000e+08,تهران/جمهوری,0,دوگانهسوز,دنده ای,بدون رنگ,آبی,داخل مشکی,https://bama.ir/car/detail-gbfit7nl-zamyad-pic...,2025-06-08 18:58:35.924288,0
499,فونیکس,تیگو 7 پرو,1403,پریمیوم,1.980000e+09,تهران/کامرانیه,25000,بنزینی,اتوماتیک,دو لکه رنگ,مشکی,داخل مشکی,https://bama.ir/car/detail-7vxu3asw-fownix-tig...,2025-06-08 18:58:33.573617,1
498,ام,وی ام، X55 PRO,1403,IE,9.500000e+08,تهران/یوسفآباد,0,بنزینی,اتوماتیک,بدون رنگ,سفید,داخل مشکی,https://bama.ir/car/detail-oh9k3uhd-mvm-x55pro...,2025-06-08 18:58:31.603706,1
496,بی,وای دی، F3,1397,دنده ای,9.900000e+08,کرمان,0,بنزینی,دنده ای,بدون رنگ,نقرهای,داخل مشکی,https://bama.ir/car/detail-sbcvdlga-byd-f3-mt-...,2025-06-08 18:58:27.651656,7

In [25]:
df.tail()

,brand,model,year,trim_version,price,location,mileage,fuel_type,gearbox,body_condition,body_color,interior_color,ad_url,scrape_date,car_age
521,پژو,207,1404,پانوراما دنده ای,530000000.0,تهران/صادقیه,0,بنزینی,دنده ای,بدون رنگ,سفید,داخل مشکی,https://bama.ir/car/detail-uipqpula-peugeot-20...,2025-06-08 18:26:40.378456,0
516,پژو,207,1390,اتوماتیکTU5,535000000.0,بوشهر,320000,بنزینی,اتوماتیک,دو لکه رنگ,سفید,داخل مشکی,https://bama.ir/car/detail-m5jclusu-peugeot-20...,2025-06-08 18:26:30.414523,14
512,پژو,207,1399,اتوماتیکTU5,800000000.0,تهران/تهرانپارسشرقی,30000,بنزینی,اتوماتیک,بدون رنگ,سفید,داخل نوک مدادی,https://bama.ir/car/detail-y2fpairz-peugeot-20...,2025-06-08 18:26:22.401885,5
511,پژو,206,1401,تیپ2,620000000.0,اصفهان/آینهخانه,16000,بنزینی,دنده ای,بدون رنگ,سفید,داخل مشکی,https://bama.ir/car/detail-itgfr1yh-peugeot-20...,2025-06-08 18:26:20.206141,3
506,پژو,207,1402,TU3,695000000.0,تهران/علی‌آباد,19800,بنزینی,دنده ای,بدون رنگ,سفید,داخل مشکی,https://bama.ir/car/detail-5sqwre6r-peugeot-20...,2025-06-08 18:26:08.207662,2

In [26]:
df["mileage"].value_counts()

mileage
0         197
400000      4
7000        3
47000       3
74000       3
         ...
260000      1
127000      1
320000      1
30000       1
19800       1
Name: count, Length: 96, dtype: int64

In [37]:
categorical_columns = df.select_dtypes(include='object').columns

for col in categorical_columns:
    print(f"--- {col} ---")
    print(df[col].value_counts(), "\n")

--- brand ---
brand
پژو        66
فونیکس     42
کی         31
ام         30
جک         24
فیدلیتی    10
کوییک       9
دنا         9
شاهین       9
پراید       7
چری         7
هایما       7
اکستریم     6
لاماری      6
پیش         6
رنو         5
بی          5
زامیاد      4
ساینا       4
تیبا        4
لوکانو      3
اطلس        3
ریسپکت      3
سمند        3
رانا        2
تارا        2
فوتون       2
برلیانس     2
مزدا        1
حواله       1
پاژن        1
دیگنیتی     1
نیسان       1
دانگ        1
کیا         1
Name: count, dtype: int64

--- model ---
model
207              28
206              16
پارس             12
S5               12
پرایم            10
                 ..
GL                1
H230              1
H330              1
فنگ، H30 کراس     1
ریو (مونتاژ)      1
Name: count, Length: 89, dtype: int64

--- trim_version ---
trim_version
اتوماتیک             51
دنده ای              30
IE                   25
1.5لیتر              13
تیپ2                 11
                     ..
2.0لیتردندهای         1
اتوماتیکتوربوساده     1
EF7                   1
1.5اتوماتیک           1
SLX                   1
Name: count, Length: 69, dtype: int64

--- location ---
location
تهران/دانشگاهشریف      40
تهران/جمهوری           30
تهران/سهروردی          25
تهران/تهرانپارسشرقی    20
تهران/استادمعین        13
                       ..
تهران/دولت‌آباد         1
تهران/تهران‌ویلا        1
بوشهر                   1
اصفهان/آینهخانه         1
تهران/علی‌آباد          1
Name: count, Length: 114, dtype: int64

--- fuel_type ---
fuel_type
بنزینی       299
هیبریدی       10
دوگانهسوز      8
دیزلی          1
Name: count, dtype: int64

--- gearbox ---
gearbox
اتوماتیک    201
دنده ای     117
Name: count, dtype: int64

--- body_condition ---
body_condition
بدون رنگ            283
دو لکه رنگ            9
چند لکه رنگ           8
دور رنگ               5
یک لکه رنگ            4
کاپوت تعویض           3
گلگیر تعویض           2
گلگیررنگ              2
صافکاری بدون رنگ      2
Name: count, dtype: int64

--- body_color ---
body_color
سفید        158
مشکی        111
خاکستری      16
نقرهای        6
تیتانیوم      6
نوکمدادی      6
آبی           5
قرمز          3
سبز           2
زرد           2
نقره آبی      1
سرمهای        1
طوسی          1
Name: count, dtype: int64

--- interior_color ---
interior_color
داخل مشکی         261
داخلمارون          10
داخل خاکستری        9
داخل طوسی           8
داخل قهوه‌ای        8
داخل کرم            6
داخل نوک مدادی      5
داخلموکا            2
داخلآبی             2
داخل سفید           2
داخلکربنبلک         1
داخلگیلاسی          1
داخلنقرهای          1
داخلقرمز            1
داخل مسی            1
Name: count, dtype: int64

--- ad_url ---
ad_url
https://bama.ir/car/detail-5sqwre6r-peugeot-207-tu3mt-1402           1
https://bama.ir/car/detail-ivr1bewx-kmc-t9-2literturbo-1404          1
https://bama.ir/car/detail-gbfit7nl-zamyad-pickup-cng-1404           1
https://bama.ir/car/detail-7vxu3asw-fownix-tiggo7pro-premium-1403    1
https://bama.ir/car/detail-oh9k3uhd-mvm-x55pro-ie-1403               1
                                                                    ..
https://bama.ir/car/detail-cyyeb7rk-chery-arrizo5tsport-ie-1404      1
https://bama.ir/car/detail-hfymoasn-peugeot-206sd-v1-1389            1
https://bama.ir/car/detail-0ggowb52-fownix-fx-premium-1403           1
https://bama.ir/car/detail-gawhywkj-dena-plus-turbo6mt-1401          1
https://bama.ir/car/detail-cdwmq6pr-mvm-x55pro-ie-1402               1
Name: count, Length: 318, dtype: int64

--- scrape_date ---
scrape_date
2025-06-08 18:26:08.207662    1
2025-06-08 18:58:37.966920    1
2025-06-08 18:58:35.924288    1
2025-06-08 18:58:33.573617    1
2025-06-08 18:58:31.603706    1
                             ..
2025-06-08 18:57:47.046141    1
2025-06-08 18:57:49.006424    1
2025-06-08 18:57:52.245875    1
2025-06-08 18:57:57.785685    1
2025-06-08 18:57:59.455190    1
Name: count, Length: 318, dtype: int64

In [39]:
# Summary of numerical columns
df.describe()

              year         price       mileage     car_age
count   318.000000  3.180000e+02  3.180000e+02  318.000000
mean   1401.028302  1.114964e+09  5.002619e+04    2.971698
std       4.923627  7.668754e+08  1.853291e+05    4.923627
min    1378.000000  1.700000e+08  0.000000e+00    0.000000
25%    1401.000000  5.525000e+08  0.000000e+00    0.000000
50%    1403.000000  9.140000e+08  0.000000e+00    1.000000
75%    1404.000000  1.475000e+09  4.700000e+04    3.000000
max    1404.000000  4.500000e+09  3.000000e+06   26.000000