In [2]:
import numpy as np
import pandas as pd

---
# Overview

In [3]:
df = pd.read_csv('../data/raw/bama_raw_data_peugeot_20250531_150312.csv')
df2 = pd.read_csv('../data/raw/bama_raw_data_peugeot_20250605_205221.csv')

In [5]:
# Dimenstions
df2.shape

(71, 11)

In [6]:
# Data Types and Nulls
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   full_title    71 non-null     object
 1   brand         71 non-null     object
 2   model         71 non-null     object
 3   year          71 non-null     int64
 4   trim_version  71 non-null     object
 5   price         71 non-null     object
 6   location      71 non-null     object
 7   mileage       71 non-null     object
 8   gearbox       71 non-null     object
 9   ad_url        71 non-null     object
 10  scrape_date   71 non-null     object
dtypes: int64(1), object(10)
memory usage: 6.2+ KB

In [7]:
df2.isnull().sum()

full_title      0
brand           0
model           0
year            0
trim_version    0
price           0
location        0
mileage         0
gearbox         0
ad_url          0
scrape_date     0
dtype: int64

In [8]:
df2.head()

,full_title,brand,model,year,trim_version,price,location,mileage,gearbox,ad_url,scrape_date
0,پژو، 207,پژو،,207,1404,پانورامادندهای,935000000,آبادان,صفر,گیربکس,https://bama.ir/car/detail-eqkcurjy-peugeot-20...,2025-06-05 20:50:00.094246
1,پژو، پارس,پژو،,پارس,1398,XU7,575000000,تهران/شهرکراه‌آهن,159000km,گیربکس,https://bama.ir/car/detail-qzibkblf-peugeot-pa...,2025-06-05 20:50:01.665701
2,پژو، 207,پژو،,207,1403,دندهایTU5,805000000,همدان,صفر,گیربکس,https://bama.ir/car/detail-1lnjeoh2-peugeot-20...,2025-06-05 20:50:03.597449
3,پژو، 206,پژو،,206,1390,تیپ6,450000000,تهران/سعادت‌آباد,105000km,گیربکس,https://bama.ir/car/detail-opncs9zf-peugeot-20...,2025-06-05 20:50:05.946887
4,پژو، 207,پژو،,207,1397,اتوماتیکTU5,750000000,تهران/گیشا(کوینصر),97000km,گیربکس,https://bama.ir/car/detail-yb84qu3j-peugeot-20...,2025-06-05 20:50:07.624527

In [9]:
df2.tail()

,full_title,brand,model,year,trim_version,price,location,mileage,gearbox,ad_url,scrape_date
66,پژو، 206,پژو،,206,1397,تیپ2,570000000,تهران/تهرانپارسغربی,37000km,گیربکس,https://bama.ir/car/detail-vrhdmvcy-peugeot-20...,2025-06-05 20:52:11.060232
67,پژو، 206,پژو،,206,1393,تیپ5,660000000,تهران/دانشگاهشریف,15000km,گیربکس,https://bama.ir/car/detail-g8cixsoj-peugeot-20...,2025-06-05 20:52:13.295281
68,پژو، پارس,پژو،,پارس,1403,ELX-XU7P,980000000,لارستان,صفر,گیربکس,https://bama.ir/car/detail-8g96yfx1-peugeot-pa...,2025-06-05 20:52:15.556065
69,پژو، 206,پژو،,206,1389,تیپ2,378000000,تهران/پونک,135000km,گیربکس,https://bama.ir/car/detail-kjc4vm9i-peugeot-20...,2025-06-05 20:52:17.674572
70,پژو، 207,پژو،,207,1399,دندهایTU5,617000000,تبریز,120000km,گیربکس,https://bama.ir/car/detail-lx6u4pko-peugeot-20...,2025-06-05 20:52:19.593678

In [10]:
categorical_columns = df2.select_dtypes(include='object').columns

for col in categorical_columns:
    print(f"--- {col} ---")
    print(df2[col].value_counts(), "\n")

--- full_title ---
full_title
پژو، پارس      20
پژو، 206       20
پژو، 207       19
پژو، 206 SD     7
پژو، 405        2
پژو، 508        1
پژو، 2008       1
پژو، RDI        1
Name: count, dtype: int64

--- brand ---
brand
پژو،    71
Name: count, dtype: int64

--- model ---
model
پارس      20
206       20
207       19
206 SD     7
405        2
508        1
2008       1
RDI        1
Name: count, dtype: int64

--- trim_version ---
trim_version
تیپ2                    14
XU7                      8
پانورامادندهای           7
LX                       6
V8                       5
ELX-XU7P                 4
تیپ5                     4
دندهایTU5                4
اتوماتیکTU5              3
تیپ6                     2
اتوماتیکTU5P             2
MCاتوماتیک               2
اتوماتیک                 2
XU7P                     1
GTلاین                   1
V9                       1
پانورامااتوماتیکTU5P     1
GLXبنزینی                1
SLX                      1
دندهای                   1
V20                      1
Name: count, dtype: int64

--- price ---
price
توافقی        8
490000000     4
650000000     2
450000000     2
750000000     2
720000000     2
550000000     2
350000000     2
760000000     2
980000000     2
575000000     1
935000000     1
805000000     1
620000000     1
285000000     1
675000000     1
470000000     1
797000000     1
2700000000    1
680000000     1
950000000     1
528000000     1
360000000     1
835000000     1
445000000     1
630000000     1
1085000000    1
535000000     1
585000000     1
547000000     1
670000000     1
710000000     1
752000000     1
460000000     1
240000000     1
705000000     1
420000000     1
916000000     1
740000000     1
160000000     1
325000000     1
920000000     1
200000000     1
400000000     1
1000000000    1
520000000     1
340000000     1
600000000     1
775000000     1
570000000     1
660000000     1
378000000     1
617000000     1
Name: count, dtype: int64

--- location ---
location
کرج/عظیمیه             3
تهران/پونک             3
تهران/تهرانپارسغربی    3
اسلامشهر               2
همدان                  2
تهران/پاسداران         2
کرج/مهرشهر-فاز4        2
تهران/قیطریه           2
تهران/سعادت‌آباد       2
تهران/17شهریور         2
آمل                    2
تهران/شهرکراه‌آهن      1
تهران/گیشا(کوینصر)     1
اصفهان/خانهاصفهان      1
تهران/فرمانیه          1
قائمشهر                1
آبادان                 1
تهران/باغفیض           1
اصفهان/چهارباعخواجو    1
اصفهان/نگارستان        1
کرج/ساماندهی           1
اصفهان/وحید            1
شیراز/ابونصر           1
رودهن                  1
کرج/گوهردشت            1
اسلامشهر/چهاردانگه     1
تهران/نیاوران          1
بابل                   1
تهران/بهارستان         1
چالوس/بلوارامامرضا     1
تهران/شهرکولیعصر       1
هشتگرد                 1
تهران/آهنگ             1
کرج/حصارک              1
تهران/ارم              1
تهران/تهرانپارسشرقی    1
تهران/چهارراهقصر       1
تهران/قلهک             1
شمیرانات               1
ری                     1
قروه                   1
شهریار                 1
لاهیجان                1
اسکو                   1
کرمان                  1
رباطکریم/پرند          1
ساری                   1
تهران/صادقیه           1
تهران/جنت‌آبادشمالی    1
بابلسر                 1
تهران/شهرانجنوبی       1
تهران/افسریه           1
تهران/فاطمی            1
تهران/زعفرانیه         1
تهران/دانشگاهشریف      1
لارستان                1
تبریز                  1
Name: count, dtype: int64

--- mileage ---
mileage
صفر         9
70000km     2
35000km     2
53000km     2
148000km    2
60000km     2
38000km     2
230000km    2
412000km    1
100000km    1
90000km     1
49000km     1
174000km    1
199000km    1
9300km      1
86500km     1
170000km    1
18200km     1
76000km     1
194000km    1
155000km    1
97000km     1
105000km    1
159000km    1
320000km    1
195000km    1
138000km    1
140000km    1
91000km     1
6000km      1
96000km     1
500000km    1
85500km     1
169000km    1
150000km    1
107000km    1
32000km     1
400000km    1
95000km     1
27000km     1
178000km    1
13000km     1
65000km     1
103000km    1
305000km    1
255000km    1
151000km    1
350000km    1
126000km    1
110000km    1
1km         1
30000km     1
37000km     1
15000km     1
135000km    1
120000km    1
Name: count, dtype: int64

--- gearbox ---
gearbox
گیربکس    71
Name: count, dtype: int64

--- ad_url ---
ad_url
https://bama.ir/car/detail-eqkcurjy-peugeot-207-manualpanorama-1404    1
https://bama.ir/car/detail-qzibkblf-peugeot-pars-mt-1398               1
https://bama.ir/car/detail-1lnjeoh2-peugeot-207-mt-1403                1
https://bama.ir/car/detail-opncs9zf-peugeot-206ir-type6-1390           1
https://bama.ir/car/detail-yb84qu3j-peugeot-207-at-1397                1
                                                                      ..
https://bama.ir/car/detail-vrhdmvcy-peugeot-206ir-type2-1397           1
https://bama.ir/car/detail-g8cixsoj-peugeot-206ir-type5-1393           1
https://bama.ir/car/detail-8g96yfx1-peugeot-pars-elxxu7p-1403          1
https://bama.ir/car/detail-kjc4vm9i-peugeot-206ir-type2-1389           1
https://bama.ir/car/detail-lx6u4pko-peugeot-207-mt-1399                1
Name: count, Length: 71, dtype: int64

--- scrape_date ---
scrape_date
2025-06-05 20:50:00.094246    1
2025-06-05 20:50:01.665701    1
2025-06-05 20:50:03.597449    1
2025-06-05 20:50:05.946887    1
2025-06-05 20:50:07.624527    1
                             ..
2025-06-05 20:52:11.060232    1
2025-06-05 20:52:13.295281    1
2025-06-05 20:52:15.556065    1
2025-06-05 20:52:17.674572    1
2025-06-05 20:52:19.593678    1
Name: count, Length: 71, dtype: int64

---
## **Data Preprocessing**
1. Handling Missing Values

In [11]:
df2.isnull().sum()

full_title      0
brand           0
model           0
year            0
trim_version    0
price           0
location        0
mileage         0
gearbox         0
ad_url          0
scrape_date     0
dtype: int64