In [23]:
import numpy as np
import pandas as pd

---
# Overview

In [24]:
df = pd.read_csv('../data/raw/bama_raw_data_all_cars_20250608_185840.csv')

In [25]:
# Dimenstions
df.shape

(503, 15)

In [26]:
# Data Types and Nulls
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 503 entries, 0 to 502
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   full_title      503 non-null    object
 1   brand           503 non-null    object
 2   model           503 non-null    object
 3   year            503 non-null    int64
 4   trim_version    503 non-null    object
 5   price           503 non-null    object
 6   location        502 non-null    object
 7   mileage         503 non-null    object
 8   fuel_type       503 non-null    object
 9   gearbox         503 non-null    object
 10  body_condition  503 non-null    object
 11  body_color      503 non-null    object
 12  interior_color  503 non-null    object
 13  ad_url          503 non-null    object
 14  scrape_date     503 non-null    object
dtypes: int64(1), object(14)
memory usage: 59.1+ KB

In [27]:
df.isnull().sum()

full_title        0
brand             0
model             0
year              0
trim_version      0
price             0
location          1
mileage           0
fuel_type         0
gearbox           0
body_condition    0
body_color        0
interior_color    0
ad_url            0
scrape_date       0
dtype: int64

In [28]:
df.head()

,full_title,brand,model,year,trim_version,price,location,mileage,fuel_type,gearbox,body_condition,body_color,interior_color,ad_url,scrape_date
0,فولکس، ID.4 Crozz,فولکس،,ID.4 Crozz,2024,PURE,توافقی,اصفهان/بزرگراهخلیجفارس(مرق),صفر,برقی,اتوماتیک,بدونرنگ,خاکستری,داخلمشکی,https://bama.ir/car/detail-tbys2omw-volkswagen...,2025-06-08 18:41:16.293777
1,سانگ یانگ، تیوولی,سانگ,یانگ، تیوولی,2018,آرمور,توافقی,تهران/سیدخندان,170000km,بنزینی,اتوماتیک,بدونرنگ,سفید,داخلمشکی,https://bama.ir/car/detail-t6peluie-ssangyong-...,2025-06-08 18:41:18.093497
2,هوندا، CR-V eHEV,هوندا،,CR-V eHEV,2024,2.0لیتر,توافقی,تهران/اندرزگو,صفر,هیبریدی,اتوماتیک,بدونرنگ,مشکی,داخلمشکی,https://bama.ir/car/detail-zvx9v0qf-honda-crve...,2025-06-08 18:41:20.324252
3,کی ام سی، J7,کی,ام سی، J7,1404,اتوماتیک,1323000000,تهران/دانشگاهشریف,صفر,بنزینی,اتوماتیک,بدونرنگ,سفید,داخلمشکی,https://bama.ir/car/detail-wkjenqmy-kmc-j7-1404,2025-06-08 18:41:21.919332
4,تویوتا، کرولا کراس هیبرید,تویوتا،,کرولا کراس هیبرید,2024,2.0لیتر,4250000000,تهران/بهشتی,صفر,هیبریدی,اتوماتیک,بدونرنگ,سفید,داخلمشکی,https://bama.ir/car/detail-a5qfmdus-toyota-cor...,2025-06-08 18:41:24.182333

In [29]:
df.tail()

,full_title,brand,model,year,trim_version,price,location,mileage,fuel_type,gearbox,body_condition,body_color,interior_color,ad_url,scrape_date
498,ام وی ام، X55 PRO,ام,وی ام، X55 PRO,1403,IE,950000000,تهران/یوسفآباد,صفر,بنزینی,اتوماتیک,بدونرنگ,سفید,داخلمشکی,https://bama.ir/car/detail-oh9k3uhd-mvm-x55pro...,2025-06-08 18:58:31.603706
499,فونیکس، تیگو 7 پرو,فونیکس،,تیگو 7 پرو,1403,پریمیوم,1980000000,تهران/کامرانیه,25000km,بنزینی,اتوماتیک,دولکهرنگ,مشکی,داخلمشکی,https://bama.ir/car/detail-7vxu3asw-fownix-tig...,2025-06-08 18:58:33.573617
500,زامیاد، وانت نیسان,زامیاد،,وانت نیسان,1404,دوگانهسوز,431000000,تهران/جمهوری,صفر,دوگانهسوز,دندهای,بدونرنگ,آبی,داخلمشکی,https://bama.ir/car/detail-gbfit7nl-zamyad-pic...,2025-06-08 18:58:35.924288
501,کی ام سی، T9,کی,ام سی، T9,1404,2لیترتوربو,2750000000,تهران/17شهریور,صفر,بنزینی,اتوماتیک,بدونرنگ,مشکی,داخلمشکی,https://bama.ir/car/detail-ivr1bewx-kmc-t9-2li...,2025-06-08 18:58:37.966920
502,رنو، ساندرو,رنو،,ساندرو,1396,اتوماتیک,توافقی,تهران/نیاوران,120000km,بنزینی,اتوماتیک,یکلکهرنگ,نقرهای,داخلخاکستری,https://bama.ir/car/detail-2t5lmphi-renault-sa...,2025-06-08 18:58:39.948596

In [30]:
categorical_columns = df.select_dtypes(include='object').columns

for col in categorical_columns:
    print(f"--- {col} ---")
    print(df[col].value_counts(), "\n")

--- full_title ---
full_title
پژو، 207                  19
کی ام سی، J7              16
جک، S5                    13
ام وی ام، X55 PRO         12
فونیکس، تیگو 8 پرو مکس    10
                          ..
دنا، معمولی                1
ساینا، EX دنده ای          1
پراید، 111                 1
سوزوکی، سیاز               1
بی وای دی، F3              1
Name: count, Length: 180, dtype: int64

--- brand ---
brand
فونیکس،    60
پژو،       46
کی         44
ام         36
جک،        28
           ..
ری          1
حواله       1
اشکودا،     1
مزدا،       1
زد          1
Name: count, Length: 64, dtype: int64

--- model ---
model
207               19
ام سی، J7         16
S5                13
وی ام، X55 PRO    12
پرایم             11
                  ..
معمولی             1
EX دنده ای         1
111                1
سیاز               1
وای دی، F3         1
Name: count, Length: 176, dtype: int64

--- trim_version ---
trim_version
اتوماتیک        73
دندهای          35
1.5لیتر         29
IE              29
1.5لیترتوربو    23
                ..
4سیلندرتوربو     1
2.7لیتر          1
SX               1
V1               1
6دندهتوربو       1
Name: count, Length: 122, dtype: int64

--- price ---
price
توافقی        134
1100000000      9
950000000       7
530000000       7
1890000000      6
             ...
1480000000      1
2300000000      1
3300000000      1
1687000000      1
431000000       1
Name: count, Length: 231, dtype: int64

--- location ---
location
تهران/سهروردی          48
تهران/جمهوری           42
تهران/دانشگاهشریف      35
تهران/تهرانپارسشرقی    23
تهران/میرداماد         22
                       ..
اسلامشهر                1
کرج/گوهردشت             1
بیرجند                  1
ملارد                   1
کرج/350متری             1
Name: count, Length: 137, dtype: int64

--- mileage ---
mileage
صفر         334
101000km      4
180000km      4
60000km       4
20000km       4
           ...
300000km      1
88000km       1
163000km      1
54000km       1
25000km       1
Name: count, Length: 123, dtype: int64

--- fuel_type ---
fuel_type
بنزینی           441
هیبریدی           30
برقی              20
دوگانهسوز          7
برقیباژنراتور      4
دیزلی              1
Name: count, dtype: int64

--- gearbox ---
gearbox
اتوماتیک    397
دندهای      106
Name: count, dtype: int64

--- body_condition ---
body_condition
بدونرنگ           457
دولکهرنگ           11
یکلکهرنگ           11
چندلکهرنگ           9
صافکاریبدونرنگ      5
دوررنگ              3
کاپوتتعویض          3
گلگیررنگ            2
گلگیرتعویض          2
Name: count, dtype: int64

--- body_color ---
body_color
سفید        228
مشکی        182
خاکستری      24
نقرهای       10
تیتانیوم     10
نوکمدادی      9
سفیدصدفی      8
آبی           7
سرمهای        5
قرمز          4
قهوهای        3
سبز           3
کربنبلک       3
دلفینی        2
زرد           2
بژ            1
برنز          1
نقرآبی        1
Name: count, dtype: int64

--- interior_color ---
interior_color
داخلمشکی        408
داخلکرم          15
داخلخاکستری      14
داخلمارون        14
داخلقهوهای       13
داخلطوسی          8
داخلموکا          7
داخلشتری          5
داخلنوکمدادی      4
داخلسفید          3
داخلبژ            3
داخلقرمز          3
داخلآبی           2
داخلسرمهای        1
داخلنقرهای        1
داخلگیلاسی        1
داخلکربنبلک       1
Name: count, dtype: int64

--- ad_url ---
ad_url
https://bama.ir/car/detail-2t5lmphi-renault-sandero-at-1396                   1
https://bama.ir/car/detail-tbys2omw-volkswagen-id4crozz-pure-2024             1
https://bama.ir/car/detail-t6peluie-ssangyong-tivoli-armour-2018              1
https://bama.ir/car/detail-zvx9v0qf-honda-crvehev-2.0liter-2024               1
https://bama.ir/car/detail-wkjenqmy-kmc-j7-1404                               1
                                                                             ..
https://bama.ir/car/detail-8djhpnhk-kmc-ej7-plus-2024                         1
https://bama.ir/car/detail-u9vgmqsd-dongfeng-h30cross-1395                    1
https://bama.ir/car/detail-mu1n38fv-jac-s3-at-1403                            1
https://bama.ir/car/detail-asftamgu-toyota-camryhybrid-premiumedition-2024    1
https://bama.ir/car/detail-cfvpqev1-bmw-3seriessedan-320i-2014                1
Name: count, Length: 503, dtype: int64

--- scrape_date ---
scrape_date
2025-06-08 18:58:39.948596    1
2025-06-08 18:41:16.293777    1
2025-06-08 18:41:18.093497    1
2025-06-08 18:41:20.324252    1
2025-06-08 18:41:21.919332    1
                             ..
2025-06-08 18:41:36.837883    1
2025-06-08 18:41:35.452026    1
2025-06-08 18:41:33.086291    1
2025-06-08 18:41:30.733463    1
2025-06-08 18:41:28.690504    1
Name: count, Length: 503, dtype: int64

---
## **Data Preprocessing**
1. Handling Missing Values

In [31]:
df.isnull().sum()

full_title        0
brand             0
model             0
year              0
trim_version      0
price             0
location          1
mileage           0
fuel_type         0
gearbox           0
body_condition    0
body_color        0
interior_color    0
ad_url            0
scrape_date       0
dtype: int64