In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('../data/raw/bama_raw_data_peugeot_20250531_150312.csv')

In [4]:
df.head()

,full_title,year,brand,model,price,location,mileage,gearbox,ad_url,scrape_date
0,پژو، 207,NaN,پژو،,207,745000000,تهران/توحید,صفر,گیربکس,https://bama.ir/car/detail-fgqicsn8-peugeot-20...,2025-05-31 14:59:41.120865
1,پژو، پارس,NaN,پژو،,پارس,830000000,شیراز/شهرکسراج,30000km,گیربکس,https://bama.ir/car/detail-j1yxzta9-peugeot-pa...,2025-05-31 14:59:42.659675
2,پژو، 207,NaN,پژو،,207,1030000000,تهران/جمهوری,صفر,گیربکس,https://bama.ir/car/detail-ozfl06ho-peugeot-20...,2025-05-31 14:59:44.504826
3,پژو، 207,NaN,پژو،,207,825000000,تهران/آزادی,صفر,گیربکس,https://bama.ir/car/detail-kflvh5jr-peugeot-20...,2025-05-31 14:59:46.599926
4,پژو، 207,NaN,پژو،,207,825000000,تهران/جمهوری,صفر,گیربکس,https://bama.ir/car/detail-j4lu9q6v-peugeot-20...,2025-05-31 14:59:48.985832

In [5]:
df['year'].isnull().sum()

np.int64(101)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   full_title   101 non-null    object
 1   year         0 non-null      float64
 2   brand        101 non-null    object
 3   model        101 non-null    object
 4   price        101 non-null    object
 5   location     101 non-null    object
 6   mileage      101 non-null    object
 7   gearbox      101 non-null    object
 8   ad_url       101 non-null    object
 9   scrape_date  101 non-null    object
dtypes: float64(1), object(9)
memory usage: 8.0+ KB