In [1]:
import numpy as np
import pandas as pd

---
# Overview

In [2]:
df = pd.read_csv('../data/raw/bama_raw_data_peugeot_20250531_150312.csv')

In [ ]:
# Dimenstions
df.shape

(101, 10)

In [ ]:
# Data Types and Nulls
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   full_title   101 non-null    object
 1   year         0 non-null      float64
 2   brand        101 non-null    object
 3   model        101 non-null    object
 4   price        101 non-null    object
 5   location     101 non-null    object
 6   mileage      101 non-null    object
 7   gearbox      101 non-null    object
 8   ad_url       101 non-null    object
 9   scrape_date  101 non-null    object
dtypes: float64(1), object(9)
memory usage: 8.0+ KB

In [8]:
df.isnull().sum()

full_title       0
year           101
brand            0
model            0
price            0
location         0
mileage          0
gearbox          0
ad_url           0
scrape_date      0
dtype: int64

In [3]:
df.head()

,full_title,year,brand,model,price,location,mileage,gearbox,ad_url,scrape_date
0,پژو، 207,NaN,پژو،,207,745000000,تهران/توحید,صفر,گیربکس,https://bama.ir/car/detail-fgqicsn8-peugeot-20...,2025-05-31 14:59:41.120865
1,پژو، پارس,NaN,پژو،,پارس,830000000,شیراز/شهرکسراج,30000km,گیربکس,https://bama.ir/car/detail-j1yxzta9-peugeot-pa...,2025-05-31 14:59:42.659675
2,پژو، 207,NaN,پژو،,207,1030000000,تهران/جمهوری,صفر,گیربکس,https://bama.ir/car/detail-ozfl06ho-peugeot-20...,2025-05-31 14:59:44.504826
3,پژو، 207,NaN,پژو،,207,825000000,تهران/آزادی,صفر,گیربکس,https://bama.ir/car/detail-kflvh5jr-peugeot-20...,2025-05-31 14:59:46.599926
4,پژو، 207,NaN,پژو،,207,825000000,تهران/جمهوری,صفر,گیربکس,https://bama.ir/car/detail-j4lu9q6v-peugeot-20...,2025-05-31 14:59:48.985832

In [9]:
df.tail()

,full_title,year,brand,model,price,location,mileage,gearbox,ad_url,scrape_date
96,پژو، 207,NaN,پژو،,207,1035000000,تهران/آزادی,صفر,گیربکس,https://bama.ir/car/detail-rxilnlnd-peugeot-20...,2025-05-31 15:03:04.428698
97,پژو، 207,NaN,پژو،,207,650000000,تهران/صادقیه,77000km,گیربکس,https://bama.ir/car/detail-j5su4xxd-peugeot-20...,2025-05-31 15:03:06.762266
98,پژو، 207,NaN,پژو،,207,توافقی,تهران/میرداماد,صفر,گیربکس,https://bama.ir/car/detail-utkq54jk-peugeot-20...,2025-05-31 15:03:08.265554
99,پژو، 207,NaN,پژو،,207,880000000,تهران/توحید,صفر,گیربکس,https://bama.ir/car/detail-qhqhctpl-peugeot-20...,2025-05-31 15:03:09.934075
100,پژو، 207,NaN,پژو،,207,835000000,ساری,48000km,گیربکس,https://bama.ir/car/detail-r3cwzoqk-peugeot-20...,2025-05-31 15:03:11.414011

In [10]:
categorical_columns = df.select_dtypes(include='object').columns

for col in categorical_columns:
    print(f"--- {col} ---")
    print(df[col].value_counts(), "\n")

--- full_title ---
full_title
پژو، 207       76
پژو، 206       11
پژو، پارس       6
پژو، 2008       3
پژو، 206 SD     3
پژو، 405        2
Name: count, dtype: int64

--- brand ---
brand
پژو،    101
Name: count, dtype: int64

--- model ---
model
207       76
206       11
پارس       6
2008       3
206 SD     3
405        2
Name: count, dtype: int64

--- price ---
price
توافقی        17
905000000      3
1030000000     3
880000000      3
825000000      2
              ..
758000000      1
1040000000     1
1035000000     1
650000000      1
835000000      1
Name: count, Length: 71, dtype: int64

--- location ---
location
تهران/آزادی            19
تهران/جمهوری           13
تهران/قیطریه            7
تهران/توحید             5
تهران/میرداماد          4
تهران/بلوارفردوس        4
تهران/دانشگاهشریف       4
تهران/سعادت‌آباد        2
تهران/شهرکغرب           2
تهران/تهرانپارسغربی     2
تهران/شهیدمطهری         1
تهران/گاندی             1
شهریار/اندیشه           1
خرمآباد                 1
شیراز/شهرکسراج          1
تهران/ظفر               1
تهران/کلاهدوز           1
تهران/دارآباد           1
تهران/17شهریور          1
شیراز/بلوارستارخان      1
تهران/شادمهر            1
کرج/سهباندیگوهردشت      1
تهران/سیدخندان          1
کرج/فردیس               1
تهران/استادمعین         1
کرج/مهرشهر-فاز1         1
تهران/چهارراهقصر        1
کرج/گوهردشت             1
تهران/مولوی             1
تهران/طرشت              1
تهران/پونک              1
تهران/عباس‌آباد         1
تهران/پاسداران          1
مشهد/کوهسنگی            1
تهران/سهروردی           1
کرج/گلشهرویلا           1
قدس/قدس                 1
تهران/اکباتان           1
کرج/عظیمیه              1
اصفهان/هفتون            1
ری                      1
البرز                   1
فیروزآباد               1
کرج/مصباح               1
تهران/کویفردوس          1
سیرجان                  1
تهران/شهرانشمالی        1
تهران/صادقیه            1
ساری                    1
Name: count, dtype: int64

--- mileage ---
mileage
صفر         62
30000km      2
130000km     2
500000km     2
34000km      2
20000km      1
10000km      1
67000km      1
188000km     1
17000km      1
28000km      1
16000km      1
210000km     1
65000km      1
91000km      1
180000km     1
60000km      1
132000km     1
170000km     1
288000km     1
37400km      1
95000km      1
3000km       1
238000km     1
40000km      1
21000km      1
125000km     1
230000km     1
15000km      1
39000km      1
380000km     1
55000km      1
320000km     1
35000km      1
77000km      1
48000km      1
Name: count, dtype: int64

--- gearbox ---
gearbox
گیربکس    101
Name: count, dtype: int64

--- ad_url ---
ad_url
https://bama.ir/car/detail-fgqicsn8-peugeot-207-tu3mt-1404             1
https://bama.ir/car/detail-j1yxzta9-peugeot-pars-elxxu7p-1402          1
https://bama.ir/car/detail-ozfl06ho-peugeot-207-attu5p-1404            1
https://bama.ir/car/detail-kflvh5jr-peugeot-207-mt-1404                1
https://bama.ir/car/detail-j4lu9q6v-peugeot-207-mt-1403                1
                                                                      ..
https://bama.ir/car/detail-rxilnlnd-peugeot-207-attu5p-1404            1
https://bama.ir/car/detail-j5su4xxd-peugeot-207-mt-1396                1
https://bama.ir/car/detail-utkq54jk-peugeot-207-mt-1404                1
https://bama.ir/car/detail-qhqhctpl-peugeot-207-manualpanorama-1404    1
https://bama.ir/car/detail-r3cwzoqk-peugeot-207-at-1399                1
Name: count, Length: 101, dtype: int64

--- scrape_date ---
scrape_date
2025-05-31 14:59:41.120865    1
2025-05-31 14:59:42.659675    1
2025-05-31 14:59:44.504826    1
2025-05-31 14:59:46.599926    1
2025-05-31 14:59:48.985832    1
                             ..
2025-05-31 15:03:04.428698    1
2025-05-31 15:03:06.762266    1
2025-05-31 15:03:08.265554    1
2025-05-31 15:03:09.934075    1
2025-05-31 15:03:11.414011    1
Name: count, Length: 101, dtype: int64

---
## **Data Preprocessing**
1. Handling Missing Values

In [12]:
df.isnull().sum()

full_title       0
year           101
brand            0
model            0
price            0
location         0
mileage          0
gearbox          0
ad_url           0
scrape_date      0
dtype: int64